.contatti-principale {

    background-color:brown;
    height:1000px;
    overflow-x: auto;
   
    
}

.contatti-title {

 
    
    font-family: 'Playfair Display', serif;
    font-family: 'Tiro Tamil', serif;
   
}


.mappa {

    margin-left:160px;
    margin-top: 50px;
    width: 900px;
    height: 500px;
}