main {
    position: relative;  
    background-color: rgb(47, 107, 156);
    /* background-image: url("image.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    height: 100vh; /*inserisci un calc per tener conto della */
    width: 100%;
  }
  
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    /* transform: translate(10px, 300px); */
    font-family: 'Playfair Display', serif;
    font-family: 'Tiro Tamil', serif;
  text-align: center;
}

  .overlay {  
    background-color: black;
    opacity: 0.2;
    position: absolute;
    top:0;
    left: 0;
    /* z-index: 0; */
    width: 100%;
    height: 100%;
  }
   h1 {
    z-index: 20;
    color: white;
    opacity: 1;
  }
  